{% extends 'blog/base.html' %}
{% load bootstrap4 %}

{% block title %}Лента{% endblock %}
{% block header %}
<br>
<h4>
    <a class="btn btn-light" href="{% url 'post_create' %}" role="button" style= "background-color: #7fb3d5; color:white">Добавить запись</a>
</h4>
{% endblock header %}

{% block content %}


{% for post in all_posts %}


<div class="card" style="max-width: 65em;">
  <div class="card-header">


    <a href= '{% url 'user_page' post.blog.user %}' class="btn btn-light btn-sm" style= "background-color: #7fb3d5; color:white" >{{post.blog.user}}</a>
    {{ post.date_added|date:'M d, Y H:i' }}
    <a href="{% url 'make_seen' post.id %}">Отметить прочитано</a>
    {% if post.blog.user == request.user or request.user.is_staff %}
    <a href="{% url 'post_update' post.id %}" class="btn btn-light btn-sm" style= "background-color: #7fb3d5; color:white">редактировать</a>
    <a href="{% url 'post_delete' post.id %}" class="btn btn-light btn-sm" style= "background-color: #7fb3d5; color:white">удалить</a>
    {% endif %}

    <br>
    <a href="{% url 'post_detail' post.id %}">{{post.title}}</a>






  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> {{ post.text|linebreaks|truncatewords:30 }}
      {% ifnotequal post.text|truncatewords_html:30|length  post.text|truncatewords_html:31|length %}

          <a href="{% url 'post_detail' post.id %}">Читать далее</a>

      {% endifnotequal %}
    </li>
  </ul>

</div>
<br>

{% empty %}
        Записей нет. Подписывайтесь на блоги, чтобы отслеживать их активность.
{% endfor %}


{% include "blog/pagination.html" with page=all_posts position='num_pages' %}
<hr>

{% endblock content %}