{% extends 'blog/base.html' %}
{% load bootstrap4 %}

{% block title %} Пост {{post.title}} {% endblock %}

{% block header %}
<br>
<h4>
    <a class="btn btn-light" href="{% url 'post_create' %}" role="button">Добавить пост</a>
</h4>
{% endblock header %}


{% block content %}

<div class="card">
  <div class="card-header">

    <a href= "{% url 'user_page' object.blog.id %}" class="btn btn-light btn-sm">{{object.blog.user}}</a>
    {{ post.date_added|date:'M d, Y H:i' }}
    <a class="post_title"href="{% url 'make_seen' object.id %}">Отметить прочитано</a>


    <br>
    <a class="post_title"href="{% url 'post_detail' object.id %}">{{post.title}}</a>


    {% if post.blog.user == request.user %}
    <a href="{% url 'post_update' object.id %}" class="btn btn-light btn-sm" >редактировать</a>
    <a href="{% url 'post_delete' object.id %}" class="btn btn-light btn-sm" >удалить</a>
    {% endif %}
    


  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{object.text|linebreaks }}</li>
  </ul>

</div>
<br>

{% endblock content %}