{% extends 'blog/base.html' %}
{% load bootstrap4 %}


{% block header %}
<br>
<h4>Все посты пользователя <a href= "{% url 'user_page' owner %}" class="btn btn-light btn-sm">{{owner}}</a>
    <p>
    {% if request.user not in blog.subscriber.all %}
    <a class='add_sub btn btn-sm' onclick='addSub()' href='#' id='add_sub'>Подписаться</a>
    {% else %}
    <a class='add_sub btn btn-sm' onclick='addSub()' href='#' id='add_sub'>Отписаться</a>
    {% endif %}
    </p>
    <script>
    function addSub() {
    $.ajax({
            url:  '/posts/add_sub_ajax/',
            type:  'POST',
            data: {csrfmiddlewaretoken: '{{csrf_token}}','author_id':'{{owner.id}}'},
            dataType:  'json',
            success: function(data) {
              if(data.subbed == true) {
                $('.add_sub').html('Подписаться');
              }
              else {
                $('.add_sub').html('Отписаться');
              }
                                    }
          })
                      };
    </script>
</h4>

{% endblock header %}

{% block content %}


{% for post in object_list %}


<div class="card">
  <div class="card-header">
    
      <p>
        {{ post.date_added|date:'M d, Y H:i' }}
        {% if post.blog == request.user.blog %}
          <a href="{% url 'post_update' post.id %}" class="btn btn-light btn-sm" >редактировать</a>
          <a href="{% url 'post_delete' post.id %}" class="btn btn-light btn-sm" >удалить</a>
        {% endif %}
      </p>
      <a class="post_title"href="{% url 'post_detail' post.id %}">{{post.title}}</a>  
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"> {{ post.text|linebreaks|truncatewords:30 }} 
      {% ifnotequal post.text|truncatewords_html:30|length  post.text|truncatewords_html:31|length %}
          <a href="{% url 'post_detail' post.id %}">Читать далее</a>        
      {% endifnotequal %}
    </li>
  </ul>

</div>
<br>
{% empty %}
        Записей  нет
{% endfor %}
{% endblock content %}



