{% extends 'blog/base.html' %}
{% load bootstrap4 %}

{% block content %}
<script>
    function addSub(blog_id, counter) {
    $.ajax({
            url:  '/posts/add_sub_ajax/',
            type:  'POST',
            data: {csrfmiddlewaretoken: '{{csrf_token}}','blog_id': blog_id},
            dataType:  'json',
            success: function(data) {
              if(data.subbed == true) {
                $('.add_sub' + counter).html('Подписаться');
              }
              else {
                $('.add_sub' + counter).html('Отписаться');
              }
                                    }
          })
                      };
    </script>
<br>
<ul class="list-group">

{% for blog in object_list %}
<div>
    <li class="list-group-item">
    <a href= '{% url "user_page" blog.id %}' class="btn btn-light btn-sm" style= "background-color: #7fb3d5; color:white" >{{ blog }}</a>
    {% if request.user not in blog.subscriber.all  %}
    <button class="add_sub{{ forloop.counter }} btn btn-sm sub" onclick="addSub({{ blog.id }}, {{forloop.counter }})" id='add_sub{{forloop.counter}}'>Подписаться</button>
    {% else %}
    <button class='add_sub{{ forloop.counter }} btn btn-sm sub' onclick='addSub({{ blog.id }}, {{forloop.counter }})' id='add_sub{{forloop.counter}}'>Отписаться</button>
    {% endif %}
    </li>

</div>
{% endfor %}


</ul>
<br>

{% endblock content %}